venv
__pycache__/
test.parquet
train.parquet
test
train
.ipynb_checkpoints
catboost_info/
notebook.ipynb
test_text_embeddings.npy
train_text_embeddings.npy

submission_catboost_gridsearch.csv
submission_catboost_with_text.csv